
.container2{
    background-color: rgb(229, 231, 235);
    width: 50%;
    height: 55vh;
    margin: auto;
    
}
.container3{
    background-color: rgb(229, 231, 235);
    width: 50%;
    height: 55vh;
    margin: auto;
    
}.container4{
    background-color: rgb(229, 231, 235);
    width: 50%;
    height: 55vh;
    margin: auto;
    
}
.container5{
    background-color: rgb(229, 231, 235);
    width: 50%;
    height: 55vh;
    margin: auto;
    
}
.hihi{
    background-color: rgb(229, 231, 235);
   .tittle2{
    background-color: rgb(229, 231, 235);
   padding-left: 350px;
   padding-top: 45px;
   font-size: 20px;
   }
   .tittle3{
    background-color: rgb(229, 231, 235);
   padding-left: 350px;
   padding-top: 45px;
   font-size: 20px;
   }
   
.tittle4{
    background-color: rgb(229, 231, 235);
   padding-left: 350px;
   padding-top: 45px;
   font-size: 20px;
   }
   .tittle5{
    background-color: rgb(229, 231, 235);
   padding-left: 350px;
   padding-top: 45px;
   font-size: 20px;
   }
   }
