.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
  z-index: 10;
  &__left {
    display: flex;
    align-items: center;

    a {
      
      
      margin-right: 5px;
      text-decoration: none;
      position: relative;
      top: -5px;
    }
    .hehe {
      display: flex;
      align-items: center;
      gap: 20px;
      ul {
        gap: 1px;
        align-items: center;
        display: flex;
        font-size: 40px;
        .word {
          align-items: center;
          display: flex;
        }
        .word1 {
          color: rgb(255, 102, 0);
        }
        .word2 {
          color: rgb(0, 110, 255);
        }
      }
      
    }
  }
  &__right {
    margin-left: 0;
   
    .search-icon {
      font-size: 24px;

    }
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      .shop-icon {
        font-size: 24px;
      }
      .user-icon {
        font-size: 24px;
      }
    }
  }

  ul {
    list-style-type: none;
  }
  &__search{
top: -100%;
left: 0;
right: 0;
display: flex;
position: absolute;
display: flex;
background-color: white;
padding: 10px 400px;
transition: all 0.3s;
input{
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: white;
  
}
&.active{
  top: 100%;
  opacity: 1;
}

  }
}
